body {
    background: linear-gradient(217deg, rgba(239, 169, 169, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(177, 249, 177, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(157, 188, 241, 0.8), rgba(0,0,255,0) 70.71%);
    margin: 0;
    padding: 0;
    height: 100vh;
}


a {
    text-decoration: none;
}

a:visited{
    color: rgb(10, 68, 17);
}

a.current:visited{
    color:floralwhite;
}
.headline {
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    text-align: left;
}

.content {
    color: rgb(10, 68, 17);
    margin-right: 180px;
    text-align: justify;
    font-family: 'Ysabeau', sans-serif;
}

p.intro::first-letter {
    font-size: 200%;
  } 


@media (max-width: 786px){
    .headline{
        font-size: 36px;
    }
    .content{
        margin-right: 0px;
    }
}