body {
    background: linear-gradient(217deg, rgba(239, 169, 169, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(177, 249, 177, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(157, 188, 241, 0.8), rgba(0,0,255,0) 70.71%);
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:visited{
    color: rgb(10, 68, 17);
}

a.current:visited{
    color:floralwhite;
}

.footer {
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.main{
    padding: 120px;
    font-family: 'Ysabeau', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.about_me{
    padding-top: 20px;
    width: 400px;
    text-align: justify;
}

.profile_pic {
    width:300px;
    height: 300px;
}

