.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 10;
    /* background-color: rgb(244, 238, 238, 0.5); */
}

.name {
    padding: 20px;
    font-size: 36px;
    font-family:'Righteous', sans-serif;
    font-weight: bold; 
}

.nav_buttons {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(10, 68, 17);
    font-size: 18px;
    font-weight: 400;
}

.current {
    font-style: oblique;
    font-weight: 600;
    color: floralwhite;
}

.nav_buttons .button:hover {
    font-weight: 600;
    color:floralwhite;
}